.members-container {
  padding: 20px;
  background: #f8fafc;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.members-container h2 {
  margin-bottom: 20px;
  color: #1e3a8a;
}

.headerSection{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-wrapper {
  overflow-x: auto;
}
.people{
  position: absolute;
  bottom: 0;
  right: 0;
}
.members-table tr{
  position: relative;
}

.members-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.members-table th,
.members-table td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #e5e7eb;
}

.members-table th {
  background-color: #1e3a8a;
  color: white;
  font-weight: 600;
}

.members-table tr:hover {
  background-color: #f1f5f9;
  transition: 0.3s;
}

.members-table td {
  color: #334155;
}
