.members-container {
  padding: 20px;
  background: #f8fafc;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  position: relative;
}

.members-container h2 {
  margin-bottom: 20px;
  color: #1e3a8a;
}
.paymentTabs {
  display: flex;
  gap: 10px;
  margin-bottom: 10px
}
.paymentTabs button{
  background-color: white;
  border: 1px solid grey;
}
.paymentTabs .activeTab{
  background-color: skyblue;
}

.table-wrapper {
  overflow-x: auto;
}

.members-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 100px;
}

.members-table th,
.members-table td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #e5e7eb;
}

.members-table th {
  background-color: #1e3a8a;
  color: white;
  font-weight: 600;
}

.members-table tr:hover {
  background-color: #f1f5f9;
  transition: 0.3s;
}

.members-table td {
  color: #334155;
}
.paymentHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.memberTotalCollection{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 48px;
  background-color: #4774f0;
  display: flex;
  color: white;
  align-items: center;
}
.memberTotalCollection > *{
  flex: 1;
  text-align: center;
  padding: 0;
  margin: 0;
}