@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

body {
  margin: 0;
  font-family: 'Momo Trust Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}